{% set createdDate = node.getCreatedTime|date('F d, Y') %}
<div class="row margin30">
	<div class="col-md-4">
		<a class="mt-md mb-md" href="javascript:history.go(-1)"><i class="fa fa-long-arrow-left pl-xs"></i> Back to Blog</a>
	</div>
</div>
<div class="row mt-xl">
	<div class="col-md-12">

		<span class="thumb-info thumb-info-side-image thumb-info-no-zoom mt-xl">
			<span class="thumb-info-side-image-wrapper p-none hidden-xs">
				<a title="" href="{{ url }}">
					<img src="{{ file_url(node.field_image.entity.fileuri) }}" class="img-responsive" alt="" style="width: 195px;">
				</a>
			</span>
			<span class="thumb-info-caption">
				<span class="thumb-info-caption-text">
					<h2 class="mb-md mt-xs"><a title="" class="text-dark" href="{{ url }}">{{ label }}</a></h2>
					<span class="post-meta">
						<span>{{createdDate}} | <a href="#">{{ author_name|striptags }}</a></span>
					</span>
					{% set conBody %}					            	
						{{ content.body }}
					{% endset %}
					<p class="font-size-md">{{ conBody|striptags|slice(1, 398)}}....</p>
					<a class="mt-md" href="{{ url }}">Read More <i class="fa fa-long-arrow-right"></i></a>
				</span>
			</span>
		</span>

	</div>
</div>