<div{{ attributes.addClass(classes) }}>
{{ title_prefix }}

	<div class="row mt-xl mb-xl">
		<div class="col-sm-4 center">
			<img src="{{ file_url(node.field_image.entity.fileuri) }}" class="img-responsive mb-xl" alt="">
		</div>
		<div class="col-sm-8">
			<h1 class="mt-none mb-sm">{{label}}</h1>
			<p class="lead">{{ content.body['#object'].body.summary }}</p>
			<div class="divider divider-primary divider-small mb-xl">
				<hr>
			</div>
		</div>
	</div>
	<div class="row mt-xl">
		{{content.body}}
	</div>

{{ title_suffix }}
</div>