<section class="parallax section section-text-light section-parallax section-center mt-xl" data-plugin-parallax data-plugin-options='{"speed": 1.5}' data-image-src="{{content.field_background[0]['#markup'] }}">
	<div{{ attributes.addClass(classes) }}>
		{{ title_prefix }}
		<div class="container">
			<div class="row">
				<div class="counters counters-text-light">
					{{content.field_fc_counter}}
				</div>
			</div>
		</div>
		{{ title_suffix }}
	</div>
</section>